{% extends '::admin.html.twig' %}

{% block workZone %}
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">Mis actividades</a>
		</li>
		<li>
			<a href="{{ path('new_reservable_activity') }}">Añadir actividad <img src="{{ asset('images/add50.png') }}" width="10" alt="Añadir actividad" title="Añadir actividad"></a>
		</li>
	</ul>
	<div class="menuContent">
		{% if products is empty %}
			<div class="alert alert-danger text-center">
		    	<h4>¡No tienes instalaciones registradas!</h4>

		    	<p><a class="alertAnchor" href="{{ path('new_reservable_activity') }}">Registar aquí alguna instalación</a></p>
		    </div>
		{% else %}
			{% for oneProduct in products %}
				<div class="productView alert alert-warning">
					<form action="{{ path('modifyActivities') }}" method="post">
						<input type="hidden" name="productID" class="productID" value="{{ oneProduct.id }}">
						
						<span class="modifyDiv">
							<img src="{{ asset('images/drawing4.png') }}" width="15" alt="Modificar actividad" title="Modificar actividad">
						</span>

			       		<h4><strong>{{ oneProduct.name }}</strong></h4>
			       		{{ oneProduct.price }} / {{ oneProduct.typeRent }}

			       		<div class="modifyForm" id="{{ oneProduct.id }}">
			       			Nombre: <input type="text" name="newName"><br/>
			       			Precio: <input type="text" name="newPrice">
			       			<br/><br/>
			       			<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-inbox"></i>&nbsp;Actualizar</button>
			       		</div>
			       	</form>
			    </div>
			{% endfor %}
		{% endif %}
		</div>
{% endblock %}