{% extends '::admin.html.twig' %}

{% block workZone %}
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">Mis actividades</a>
		</li>
		<li>
			<a href="{{ path('new_reservable_activity') }}">Añadir actividad <img src="{{ asset('images/add50.png') }}" width="10" alt="Añadir actividad" title="Añadir actividad"></a>
		</li>
	</ul>
	<div class="menuContent">
		{% if products is empty %}
			<div class="alert alert-danger text-center">
		    	<h4>¡No tienes instalaciones registradas!</h4>

		    	<p><a class="alertAnchor" href="{{ path('new_reservable_activity') }}">Registar aquí alguna instalación</a></p>
		    </div>
		{% else %}
			{% for oneProduct in products %}
				<div class="productView alert alert-warning">
					<a style="float:left" id="modal-link-image-{{ oneProduct.id }}" href="#modal-image-{{ oneProduct.id }}" role="button" class="btn" data-toggle="modal" title="Cambiar imagen">
						{% if arrayPictures[oneProduct.id] is defined %}
							<img src="{{ asset(arrayPictures[oneProduct.id]) }}" width="100">
						{% else %}
							<span id="pic-{{ oneProduct.id }}"></span>
							{% if oneProduct.typeRent == 'hour' %}
								<img src="{{ asset('images/football96.png') }}" width="100">
							{% elseif oneProduct.typeRent == 'day' %}
								<img src="{{ asset('images/house112.png') }}" width="100">
							{% endif %}
						{% endif %}
					</a>
	
					{# Modal imagen #}
					<div class="modal fade" id="modal-image-{{ oneProduct.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">Imagen {{ oneProduct.name }}</h4>
								</div>
								<div class="modal-body">
									<form action="{{ path('submitPicture') }}" method="post" enctype="multipart/form-data">
									    <div class="form-group">
									    	<input id="picture_picFile" name="picture[picFile]" required="required" type="file" value=>
									    </div>
									    <input id="picture_activityID" name="picture[activityID]" class="form-control" value="{{ oneProduct.id }}" type="hidden">
										<div class="text-center"> 
										   	<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-save"></i>&nbsp;Actualizar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					{# Modal detalles #}
					<div class="modal fade" id="modal-details-{{ oneProduct.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">Características {{ oneProduct.name }}</h4>
								</div>
								<div class="modal-body">
									<form action="{{ path('modifyActivities') }}" method="post">
										<input type="hidden" name="productID" class="productID" value="{{ oneProduct.id }}">
										<table style="width: 100%;">
											<tr><td>Nombre:</td><td><input type="text" name="newName" value="{{ oneProduct.name }}" style="width: 100%;"></td></tr>
							       			<tr><td>Precio:</td><td><input type="text" name="newPrice" value="{{ oneProduct.price }}" style="width: 100%;"></td></tr>
							       			<tr><td>Descripcion:</td><td><textarea rows="3" name="description" style="width: 100%;">{{ oneProduct.description }}</textarea></td></tr>
							       			<tr><td>Dirección:</td><td><input type="text" name="address" value="{{ oneProduct.address }}" style="width: 100%;"></td></tr>
							       		</table>
							       		<div style="margin: 20px auto 0px;text-align: center;">
							       			<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-save"></i>&nbsp;Actualizar</button>
							       		</div>
				       				</form>
								</div>
							</div>
						</div>
					</div>

					{# Modal eliminar #}
					<div class="modal fade" id="modal-delete-{{ oneProduct.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">Eliminar {{ oneProduct.name }}</h4>
								</div>
								<div class="modal-body">
									<form action="{{ path('deleteActivity') }}" method="post">
										<input type="hidden" name="productID" class="productID" value="{{ oneProduct.id }}">
										¿Realmente desea eliminar {{ oneProduct.name }} de su lista?
										<br/>
										<div style="margin: 20px auto 0px;text-align: center;">
											<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;Eliminar</button>
											<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					{# Modal activar #}
					<div class="modal fade" id="modal-active-{{ oneProduct.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">Activar {{ oneProduct.name }}</h4>
								</div>
								<div class="modal-body">
									<form action="{{ path('activeActivity') }}" method="post">
										<input type="hidden" name="productID" class="productID" value="{{ oneProduct.id }}">
										¿Realmente desea activar {{ oneProduct.name }}?
										<br/>
										Si activa este producto, saldrá en las búsquedas y será reservable por cualquier usuario.
										<br/>
										<div style="margin: 20px auto 0px;text-align: center;">
											<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;Activar</button>
											<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					{# Modal desactivar #}
					<div class="modal fade" id="modal-deactive-{{ oneProduct.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">Desactivar {{ oneProduct.name }}</h4>
								</div>
								<div class="modal-body">
									<form action="{{ path('deactiveActivity') }}" method="post">
										<input type="hidden" name="productID" class="productID" value="{{ oneProduct.id }}">
										¿Realmente desea desactivar {{ oneProduct.name }}?
										<br/>
										Si desactiva este producto, no saldrá en las búsquedas y no podrá ser reservado.
										<br/>
										<div style="margin: 20px auto 0px;text-align: center;">
											<button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;Desactivar</button>
											<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<span class="modifyDiv">
						{% if oneProduct.active == 1 %}
							<a style="float:left" id="modal-link-deactive-{{ oneProduct.id }}" href="#modal-deactive-{{ oneProduct.id }}" role="button" class="btn" data-toggle="modal">
								<i style="color:green;" class="glyphicon glyphicon-eye-open" title="Activo"></i>
							</a>
						{% else %}
							<a style="float:left" id="modal-link-active-{{ oneProduct.id }}" href="#modal-active-{{ oneProduct.id }}" role="button" class="btn" data-toggle="modal">
								<i style="color:grey;" class="glyphicon glyphicon-eye-close" title="Desactivo"></i>
							</a>
						{% endif %}
						<br/>
						<a style="float:left" id="modal-link-details-{{ oneProduct.id }}" href="#modal-details-{{ oneProduct.id }}" role="button" class="btn" data-toggle="modal">
							<i style="color:blue;" class="glyphicon glyphicon-edit" title="Modificar actividad"></i>
						</a>
						<br/>
						<a style="float:left" id="modal-link-delete-{{ oneProduct.id }}" href="#modal-delete-{{ oneProduct.id }}" role="button" class="btn" data-toggle="modal">
							<i style="color:red;" class="glyphicon glyphicon-trash" title="Eliminar actividad"></i>
						</a>
					</span>

			       	<h4><strong>{{ oneProduct.name }}</strong></h4>
			       	<p>{{ oneProduct.price }} &euro;/ {{ oneProduct.typeRent }}</p>
			       	<p>{{ oneProduct.description }}</p>

					<div style="clear:both;"></div>
			    </div>
			{% endfor %}
		{% endif %}
		</div>
{% endblock %}