<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PFC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link href="{{ asset('bundles/css/main.css') }}" filter="cssrewrite" type="text/css" rel="stylesheet">
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/javascript/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/javascript/main.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/attention.png') }}" />

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        <header class="navbar navbar-default " role="navigation">
            <div class="container">
                <a class="navbar-brand" href="{{ path('user_new_user_homepage') }}">Almacen</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('user_new_user_admin') }}">Mi cuenta</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}<strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('images/male12.png') }}" width="18" alt="Ver perfil" title="Ver perfil">&nbsp;Ver perfil</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}"><img src="{{ asset('images/drawing4.png') }}" width="15" alt="Modificar perfil" title="Modificar perfil">&nbsp;Modificar perfil</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('images/sign4.png') }}" width="25" alt="Salir" title="Salir">&nbsp;Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </header>
        <section>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-8 column loginRegisterDiv">
                        <div id="mainSearcher">
                            <div id="tabs-container" class="block-tabs  widget-block-tabmain ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#" data-toggle="tab">Buscar</a>
                                    </li>
                                </ul>
                                <div class="menuContent">
                                    Buscador
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            Poner aquí algo (base.html linea 78)
                        {% else %}
                            <div id="loginRegisterDiv">
                                <div id="tabs-container" class="block-tabs  widget-block-tabmain ">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="{{ path('user_new_user_homepage') }}">Entrar</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">Registrar</a>
                                        </li>
                                    </ul>
                                    <div class="menuContent">
                                        <div class="login">






                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_registration_register" role="form">




        {{ form_errors(form) }}

        {# Nombre #}

            {{ form_label(form.name) }}
            <br/>
            <div >
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {% if form.username.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.name.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>


        {# Apellidos #}

            {{ form_label(form.surname) }}
            <br/>
            <div>
                {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                {% if form.surname.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.surname.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>


        {# Email #}

            {{ form_label(form.email) }}
            <br/>
            <div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {% if form.email.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.email.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>


        {# Nombre de usuario #}

            {{ form_label(form.username) }}
            <br/>
            <div>
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {% if form.username.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.username.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>


        {# Contraseña #}

            {{ form_label(form.plainPassword.first) }}
            <br/>
            <div>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.first.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.plainPassword.first.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>

        
        {# Repite contraseña #}

            {{ form_label(form.plainPassword.second) }}
            <br/>
            <div>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.second.vars.errors[0].message is defined %}
                <span class="help-block">
                    {{ form.plainPassword.second.vars.errors[0].message }}
                </span>
                {% endif %}
            </div>


        {# Submit #}

        <button style="float:right;margin-top: 10px;" value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-inbox"></i>&nbsp;Registrar</button>

        <div style="clear:both;"></div>



    {{ form_end(form) }}






                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="col-md-12 column carruselContent">
                            Carrusel con actividades
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="wrapper-widget-block-footerlinks row-fluid span9 mediaFooter">
                <div class="container">
                    <p>Universidad de Cádiz</p>
                    <p>Cristina Sánchez García © 2014</p>
                </div>
            </div>
        </footer>
    </body>
</html>
