{% extends '::base.html.twig' %}

{% block content %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-3 column adminBar">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <h3>Menú superusuario</h3>
                        <ul class="adminList">
                            <li><a href="#">Gestionar usuarios</a></li>
                        </ul>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <h3>Menú propietario</h3>
                        <ul class="adminList">
                            <li><a href="{{ path('new_reservable_activity') }}">Nueva instalación</a></li>
                            <li><a href="#">Ver instalaciones</a></li>
                        </ul>
                    {% endif %}   
                    {% if is_granted('ROLE_USER') %}
                        <h3>Menú usuario</h3>
                        <ul class="adminList">
                            <li><a href="#">Fútbol</a></li>
                            <li><a href="#">Tenis</a></li>
                            <li><a href="#">Piscina</a></li>
                        </ul>
                    {% endif %}
                </div>
                <div class="col-md-9 column workZone">
                        {% block workZone %}{% endblock %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6 column loginRegisterDiv">
                    <a class="loginLink" href="{{ path('fos_user_security_login') }}">
                        <div class="btn-group btn-group-lg">
                            <button class="btn btn-default" type="button"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button>
                        
                        </div>
                    </a>                 
                </div>
                <div class="col-md-6 column loginRegisterDiv">
                    <a class="registerLink" href="{{ path('fos_user_registration_register') }}">
                        <div class="btn-group btn-group-lg">
                            </button> <button class="btn btn-default" type="button"> {{ 'Registrar'|trans({}, 'FOSUserBundle') }}</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endblock %}