<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PFC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link href="{{ asset('bundles/css/main.css') }}" filter="cssrewrite" type="text/css" rel="stylesheet">
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/javascript/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/javascript/main.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/attention.png') }}" />

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        <header class="navbar navbar-default " role="navigation">
            <div class="container">
                <a class="navbar-brand" href="{{ path('user_new_user_homepage') }}">Almacen</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('user_new_user_admin') }}">Mi cuenta</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}<strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('images/male12.png') }}" width="18" alt="Ver perfil" title="Ver perfil">&nbsp;Ver perfil</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}"><img src="{{ asset('images/drawing4.png') }}" width="15" alt="Modificar perfil" title="Modificar perfil">&nbsp;Modificar perfil</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('images/sign4.png') }}" width="25" alt="Salir" title="Salir">&nbsp;Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </header>
        <section>
            <div class="container">
                <div class="row clearfix">



















{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-md-3 column adminBar">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h3>Menú superusuario</h3>
                <ul class="adminList">
                    <li><a href="#">Gestionar usuarios</a></li>
                </ul>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <h3>Menú propietario</h3>
                <ul class="adminList">
                    <li><a href="{{ path('ViewActivities') }}">Mis instalaciones</a></li>
                    <li><a href="">Mis reservas</a></li>
                </ul>
            {% endif %}   
            {% if is_granted('ROLE_USER') %}
                <h3>Menú usuario</h3>
                <ul class="adminList">
                    <li><a href="#">Fútbol</a></li>
                    <li><a href="#">Tenis</a></li>
                    <li><a href="#">Piscina</a></li>
                </ul>
           {% endif %}
        </div>
        <div class="col-md-9 column workZone">
            {% block workZone %}{% endblock %}
        </div>
    {% else %}
        <div class="alert alert-danger text-center">
                <h4>No has iniciado sesión</h4>

                <p><a class="alertAnchor" href="{{ path('user_new_user_homepage') }}">Volver</a></p>
            </div>
    {% endif %}
{% endblock %}















                </div>
            </div>
        </section>
        <footer>
            <div class="wrapper-widget-block-footerlinks row-fluid span9 mediaFooter">
                <div class="container">
                    <p>Universidad de Cádiz</p>
                    <p>Cristina Sánchez García © 2014</p>
                </div>
            </div>
        </footer>
    </body>
</html>